In [2]:
import pandas as pd
import zipfile
import kaggle

In [3]:
# download the dataset from Kaggle with API
!kaggle datasets download -d shahriarkabir/company-purchasing-dataset

565.53s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Dataset URL: https://www.kaggle.com/datasets/shahriarkabir/company-purchasing-dataset
License(s): CC0-1.0
Downloading company-purchasing-dataset.zip to /Users/m1/Documents/code/DA_Personal_Project/project
  0%|                                               | 0.00/9.27k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 9.27k/9.27k [00:00<00:00, 19.9MB/s]

In [5]:
# extract the file from the downloaded zip
zipfile_name = "company-purchasing-dataset.zip"
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [7]:
# read csv and load into a DataFrame to analyze
dataset = pd.read_csv("spend_analysis_dataset.csv")

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  500 non-null    object
 1   ItemName       500 non-null    object
 2   Category       500 non-null    object
 3   Quantity       500 non-null    int64
 4   UnitPrice      500 non-null    float64
 5   TotalCost      500 non-null    float64
 6   PurchaseDate   500 non-null    object
 7   Supplier       500 non-null    object
 8   Buyer          500 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 35.3+ KB

There is no null value in this dataset as i expected, so this dataset is probably a clean dataset. We need to know a little more about this dataset to make sure this dataset is 100% clean and understand this so we could get some insights.

In [9]:
dataset.shape

(500, 9)

In [12]:
dataset.head(10)

,TransactionID,ItemName,Category,Quantity,UnitPrice,TotalCost,PurchaseDate,Supplier,Buyer
0,TXN001,Desk Chair,Furniture,10,113.15,1131.50,2024-04-19,TechMart Inc.,Kelly Joseph
1,TXN002,Stapler,Office Supplies,16,12.62,201.92,2024-07-06,CloudSoft Corp.,Kelly Joseph
2,TXN003,Annual Software License,Software,1,5649.34,5649.34,2024-09-10,TechMart Inc.,Kelly Joseph
3,TXN004,Notepad,Stationery,13,2.92,37.96,2024-01-21,FurniWorks Ltd.,Luis Holland
4,TXN005,Notepad,Stationery,19,1.39,26.41,2024-02-03,TechMart Inc.,Cynthia Jenkins
5,TXN006,Printer,Electronics,19,150.94,2867.86,2024-11-28,FurniWorks Ltd.,Stephanie Bennett
6,TXN007,Notepad,Stationery,8,2.73,21.84,2024-02-19,OfficeSupplies Co.,Todd James
7,TXN008,Notepad,Stationery,4,2.42,9.68,2024-09-11,FurniWorks Ltd.,Aaron Hopkins
8,TXN009,Printer Ink,Stationery,13,11.89,154.57,2024-04-12,FurniWorks Ltd.,Kevin Adams
9,TXN010,Whiteboard,Furniture,19,100.82,1915.58,2024-12-14,FurniWorks Ltd.,Aaron Hopkins

This dataset is good to go. I could not find out anything to do cleaning.

In [14]:
dataset.Category.value_counts()

Category
Electronics        146
Furniture          102
Stationery          90
Office Supplies     60
Accessories         56
Software            46
Name: count, dtype: int64

By the names, looks like this dataset is extracted from a database.

In [15]:
# specify the column names i will use
new_col_dict = {
    "TransactionID": "Transaction ID",
    "ItemName" : "Item Name",
    "Category": "Category",
    "Quantity": "Quantity",
    "UnitPrice": "Price",
    "TotalCost": "Cost",
    "PurchaseDate": "Date",
    "Supplier": "Supplier",
    "Buyer": "Buyer"
}

dataset.rename(new _col_dict, axis=1, inplace=True)

In [18]:
dataset.to_excel("spend_analysis_dataset.xlsx", sheet_name="Dataset")